@model SharedModels.Stock;

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Stock App</title>
        <meta charset="utf-8" />
        <link href="~/StyleSheet.css" rel="stylesheet" />
    </head>

    <body>
        <h1>Stock Quote</h1>

     @await Component.InvokeAsync("StockPriceCard", Model)

    </body>
</html>