@model SharedModels.StockTrade;

<div class="box trading-panel">

    <div class="flex trading-panel-flex">

        <div id="stock-price-panel">

            <div class="stock">
                <h1 class="stock-title">@Model.StockSymbol (@Model.StockSymbol)</h1>

                <h2 class="stock-price">$@Model.Price</h2>
            </div>

        </div>
    </div>
</div>