@model SharedModels.StockTrade;

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>Company Profile</h1>

    @await Component.InvokeAsync("TradeCard", Model)

</body>
</html>